<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="/css/index.css" />
		<link rel="stylesheet" href="/css/global.css" />

		<link rel="shortcut icon" href="/favicon/favicon.ico" type="image/x-icon" />

		<script defer src="/socket.io/socket.io.js"></script>
		<script defer src="/js/cookieFn.js"></script>
		<script defer src="/js/index.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />

		<title>Stream Video</title>
	</head>

	<body>
		<div class="room-container container">
			<input type="text" name="username" id="username" placeholder="Enter a Username" />
			<input type="text" name="roomname" id="roomname" placeholder="Enter a Room Name/Id" <% if (roomid !== "") { %>
			value="<%= roomid %> " <% } %> />

			<div class="btn-container">
				<a href="#" id="join-btn">Join a Room</a>
				<a href="#" id="create-btn">Create a Room</a>
			</div>
		</div>
		<div class="or-text">OR</div>
		<div class="personal-container container">
			<a href="/folder" id="watch-personal">Watch Personally</a>
		</div>

		<div id="snackbar">
			<span id="snacktext"></span>
		</div>
	</body>
</html>
