.sort-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 36px 0px 32px;
}

.dropdown {
	width: 160px;
	cursor: context-menu;
	position: relative;
	margin: 0px 16px;
	color: var(--text-color);
	border: var(--card-border-gray);
	box-shadow: var(--card-shadow);
	border-radius: 8px;
	padding: 0.7em 1em;
	background-color: var(--card-color);
}

.dropdown:hover {
	border: var(--card-border-red);
}
.sort-txt {
	font-size: 20px;
}

.selected {
	width: 100%;
	height: 100%;
}

.menu {
	visibility: hidden;
	opacity: 0;

	top: 100%;
	left: 0px;
	right: 0px;
	position: absolute;
	color: var(--text-color);
	border: var(--card-border-gray);
	box-shadow: var(--card-shadow);
	border-radius: 8px;
	padding: 0.7em 1em;
	background-color: var(--card-color);
}

.dropdown:hover .menu {
	visibility: visible;
	opacity: 1;
}

.options {
	user-select: none;
	margin: 8px 0px;
	cursor: pointer;
}

.options:hover {
	color: var(--back-color);
}

.video-container {
	width: 100%;
	padding: 20px;
	display: inline-grid;
	grid-template-columns: repeat(auto-fill, 300px);
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.video-card {
	background-color: var(--card-color);
	box-shadow: var(--card-shadow);
	display: flex;
	height: 280px;
	flex-direction: column;
	border-radius: 8px;
	overflow: hidden;
}

.video-img {
	height: 172px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-tn {
	width: 100%;
	height: 100%;
}

.fas {
	color: var(--back-color-darker);
}

.video-details {
	padding: 8px;
	height: 88px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.video-title {
	height: min-content;
	grid-row: 1 / span 1;
	grid-column: 1 / span 2;
	text-align: left;
	font-size: 16px;
	line-height: 1.5em;
	padding: 0px 12px;
	margin-top: 6px;
	overflow: hidden;
	word-wrap: break-word;
}

.video-size {
	grid-row: 2 / span 1;
	grid-column: 1 / span 1;
	text-align: start;
	margin: 12px 24px 6px;
	font-size: 12px;
}

.video-duration {
	margin: 12px 24px 6px;
	grid-row: 2 / span 1;
	grid-column: 2 / span 1;
	text-align: end;
	font-size: 12px;
}

.video-date {
	grid-row: 3 / span 1;
	grid-column: 1 / span 2;
	text-align: start;
	font-size: 12px;
	padding: 0px 24px 0px;
}

.folder-date {
	text-align: end;
	font-size: 16px;
}
