.top-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin: 36px 0px 32px;
}
.top {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

#sort-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 14px 16px;
}

.dropdown {
	width: 160px;
	cursor: context-menu;
	position: relative;
	margin-left: 16px;
	color: var(--text-color);
	border: var(--card-border-gray);
	box-shadow: var(--card-shadow);
	border-radius: 8px;
	padding: 0.7em 1em;
	background-color: var(--card-color);
}

.dropdown:hover,
#random-container:hover,
#random-container:hover > .fa-shuffle,
#search:hover > .fa-magnifying-glass {
	color: var(--back-color-dark) !important;
}
.sort-txt {
	font-size: 20px;
}

.selected {
	width: 100%;
	height: 100%;
}

#menu {
	visibility: hidden;
	opacity: 0;
	top: 100%;
	left: 0px;
	right: 0px;
	position: absolute;
	z-index: 10;
	color: var(--text-color);
	border: var(--card-border-gray);
	box-shadow: var(--card-shadow);
	border-radius: 8px;
	padding: 0.7em 1em;
	background-color: var(--card-color);
}

.dropdown:hover #menu {
	visibility: visible;
	opacity: 1;
}

.options {
	user-select: none;
	margin: 8px 0px;
	cursor: pointer;
}

.options:hover {
	color: var(--back-color);
}

#search-container {
	display: flex;
	align-items: center;
	margin: 14px 28px;
}

#query {
	all: unset;
	color: var(--text-color);
	border: var(--card-border-gray);
	box-shadow: var(--card-shadow);
	border-radius: 8px 0px 0px 8px;
	padding: 0.7em 1em;
	background-color: var(--card-color);
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	width: min(240px, 100vw - 102px);
}

#search {
	all: unset;
	font-size: 16px;
	color: var(--text-color);
	border: var(--card-border-gray);
	box-shadow: var(--card-shadow);
	border-radius: 0px 8px 8px 0px;
	padding: 0.7em 1em;
	background-color: var(--card-color);
	cursor: pointer;
}

#random-container {
	text-align: center;
	width: 140px;
	cursor: context-menu;
	position: relative;
	margin: 14px 16px;
	color: var(--text-color);
	border: var(--card-border-gray);
	box-shadow: var(--card-shadow);
	border-radius: 8px;
	padding: 0.7em 1em;
	background-color: var(--card-color);
}

#filter-container {
	margin-top: 14px;
	padding: 0px 20px;
	display: inline-grid;
	place-content: center;
	grid-template-columns: repeat(auto-fill, 100px);
	align-items: center;
	gap: 20px;
	width: min(500px, 100%);
}

.filter-options {
	width: 100px;
	cursor: context-menu;
	text-align: center;
	margin: 10px;
	color: var(--text-color);
	box-shadow: var(--card-shadow);
	border-radius: 8px;
	padding: 0.7em 1em;
	background-color: var(--card-color);
	border: var(--card-border-red);
}
.filter-options:hover,
.filter-selected {
	border: var(--card-border-gray);
	color: var(--back-color-dark);
}

.dropdown,
.options,
.filter-options {
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.video-container {
	width: 100%;
	padding: 20px;
	display: inline-grid;
	grid-template-columns: repeat(auto-fill, 300px);
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.video-card {
	color: var(--text-color);
	text-decoration: none;
	background-color: var(--card-color);
	box-shadow: var(--card-shadow);
	display: flex;
	height: 280px;
	flex-direction: column;
	border-radius: 8px;
	overflow: hidden;
}

.video-img {
	height: 172px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-tn {
	width: 100%;
	height: 100%;
}

.fa-solid {
	color: var(--back-color-darker);
}

.fa-magnifying-glass,
.fa-shuffle {
	color: var(--text-color) !important;
}

.fa-shuffle {
	margin-left: 4px;
}

.video-details {
	padding: 8px;
	height: 88px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	font-size: 12px;
}

.video-title {
	height: min-content;
	grid-row: 1 / span 1;
	grid-column: 1 / span 2;
	text-align: left;
	font-size: 16px;
	line-height: 1.5em;
	padding: 0px 12px;
	margin: 6px 0;
	overflow: hidden;
	word-wrap: break-word;
}

.video-size {
	grid-row: 2 / span 1;
	grid-column: 1 / span 1;
	text-align: start;
	margin: 6px 24px;
}

.video-date {
	grid-row: 3 / span 1;
	grid-column: 1 / span 1;
	text-align: start;
	padding: 0px 24px 0px;
}
.video-duration {
	margin: 6px 24px;
	grid-row: 2 / span 1;
	grid-column: 2 / span 1;
	text-align: end;
}

.video-dimensions {
	grid-row: 3 / span 1;
	grid-column: 2 / span 1;
	text-align: end;
	padding: 0px 24px 0px;
}

.folder-date {
	text-align: end;
	font-size: 16px;
	grid-row: 2 / span 2;
	grid-column: 1 / span 2;
}

@media (max-width: 750px) {
	.top {
		flex-direction: column;
	}
}
