body {
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.video-container {
	width: calc(32vw * 1.778);
	height: calc(32vw * 0.75);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#video {
	width: 100%;
	background-color: var(--card-color);
	box-shadow: var(--card-shadow);
	margin-bottom: 16px;
	outline: none;
}

.video-details {
	width: 100%;
	padding: 16px;
	font-size: 16px;
	color: white;
	background-color: var(--card-color);
	box-shadow: var(--card-shadow);
	border-radius: 8px;
}

#video-title {
	font-size: 32px;
}

#video-time {
	margin: 8px 0px;
}

.chat-container {
	width: 400px;
}

.room-details {
	background-color: var(--back-color-darker);
	width: 100%;
	height: 112px;
	text-align: left;
	padding: 12px 16px;
	color: whitesmoke;
	margin-bottom: 16px;
	box-shadow: var(--card-shadow);
	border-radius: 8px;
}

.room-viewers {
	margin: 4px 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.fa-eye {
	margin-right: 8px;
}

#message-container {
	display: flex;
	flex-direction: column;
	padding: 16px 12px;
	height: 480px;
	background-color: var(--card-color-light);
	box-shadow: var(--card-shadow);
	border-radius: 8px 8px 0px 0px;
	overflow: scroll;
}

#message-container::-webkit-scrollbar {
	display: none;
}

.message {
	width: 100%;
	overflow: hidden;
	color: white;
	margin: 2px;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
}

.information {
	justify-content: center;
	margin: 8px 0px;
}

.message .name {
	font-size: 18px;
	font-weight: 700;
	margin-right: 12px;
	align-self: flex-start;
}

.information .name {
	margin-right: 8px;
}

.message .sender {
	color: var(--sender-color);
}

.message .receiver {
	color: var(--receiver-color);
}

.message .content {
	word-wrap: break-word;
	height: min-content;
	align-self: flex-start;
}

#room-title {
	font-size: 24px;
}

.send-container {
	box-shadow: var(--card-shadow);
	height: 52px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0px 28px;
	background-color: var(--card-color);
	border-radius: 0px 0px 8px 8px;
}

.fa-paper-plane {
	margin-left: 24px;
	font-size: 24px;
	cursor: pointer;
	color: whitesmoke;
}

.fa-paper-plane:hover {
	transform: scale(1.25);
}

#user-msg {
	flex: 1;
	background-color: transparent;
	border: none;
	outline: none;
	color: whitesmoke;
	border-bottom: 2px solid whitesmoke;
	padding: 8px;
}

@media (max-width: 1024px) {
	body {
		height: auto;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.video-container {
		width: 100%;
		height: auto;
	}

	#video {
		width: 100%;
		height: 100%;
		margin: 0px;
	}

	.chat-container {
		width: 100%;
		margin-top: 16px;
	}
}
